<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
 
    <!--
    <add name="IntegramsaUltimateConnectionString" connectionString="Data Source=DESKTOP-7O706GM;Initial Catalog=EjecutaTest;MultipleActiveResultSets=True;Application Name=EntityFramework;Connection Timeout=1500;" providerName="System.Data.SqlClient" />
    <add name="IntegramsaUltimateEntities" connectionString="metadata=res://*/Models.IntegramsaEntity.csdl|res://*/Models.IntegramsaEntity.ssdl|res://*/Models.IntegramsaEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-7O706GM;initial catalog=EjecutaTest;persist security info=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
   -->
    
    
    
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-IntegramsaUltimate-20160428115847.mdf;Initial Catalog=aspnet-IntegramsaUltimate-20160428115847;Integrated Security=True" providerName="System.Data.SqlClient" />
     <add name="IntegramsaUltimateEntities2" connectionString="metadata=res://*/Models.IntegramsaEntity.csdl|res://*/Models.IntegramsaEntity.ssdl|res://*/Models.IntegramsaEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=107.180.73.236;initial catalog=EjecutaTest;user id=sa;password=123456As;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FocusPromConexion" connectionString="metadata=res://*/FocusPromModel.csdl|res://*/FocusPromModel.ssdl|res://*/FocusPromModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=107.180.73.236;initial catalog=EjecutaTest;user id=sa;password= ;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IntegramsaUltimateConnectionString1" connectionString="Data Source=107.180.73.236;Initial Catalog=EjecutaTest;Persist Security Info=True;User ID=sa;Password=123456As;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="IntegramsaUltimateEntities" connectionString="metadata=res://*/Models.IntegramsaEntity.csdl|res://*/Models.IntegramsaEntity.ssdl|res://*/Models.IntegramsaEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=107.180.73.236;initial catalog=EjecutaTest;persist security info=True;user id=sa;password=123456As;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />



    <!--
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-IntegramsaUltimate-20160428115847.mdf;Initial Catalog=aspnet-IntegramsaUltimate-20160428115847;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="IntegramsaUltimateConnectionString" connectionString="Data Source=107.180.73.236;Initial Catalog=EjecutaTest;User ID=sa;Password=123456As;MultipleActiveResultSets=True;Application Name=EntityFramework;Connection Timeout=1500;" providerName="System.Data.SqlClient" />
    <add name="IntegramsaUltimateEntities2" connectionString="metadata=res://*/Models.IntegramsaEntity.csdl|res://*/Models.IntegramsaEntity.ssdl|res://*/Models.IntegramsaEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=107.180.73.236;initial catalog=EjecutaTest;user id=sa;password=123456As;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FocusPromConexion" connectionString="metadata=res://*/FocusPromModel.csdl|res://*/FocusPromModel.ssdl|res://*/FocusPromModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=107.180.73.236;initial catalog=EjecutaTest;user id=sa;password= ;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IntegramsaUltimateEntities" connectionString="metadata=res://*/Models.IntegramsaEntity.csdl|res://*/Models.IntegramsaEntity.ssdl|res://*/Models.IntegramsaEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=107.180.73.236;initial catalog=EjecutaTest;persist security info=True;user id=sa;password=123456As;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IntegramsaUltimateConnectionString1" connectionString="Data Source=107.180.73.236;Initial Catalog=EjecutaTest;Persist Security Info=True;User ID=sa;Password=123456As;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    -->    
    <!-- <add name="IntegramsaUltimateConnectionString" connectionString="Data Source=132.148.22.116;Initial Catalog=IntegramsaUltimate;User ID=sa;Password=1nT3GrAmSA1199;MultipleActiveResultSets=True;Application Name=EntityFramework;Connection Timeout=1500;" providerName="System.Data.SqlClient" />-->
    <!--<add name="IntegramsaUltimateEntities" connectionString="metadata=res://*/Models.IntegramsaEntity.csdl|res://*/Models.IntegramsaEntity.ssdl|res://*/Models.IntegramsaEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ws.portalsistema.com;initial catalog=IntegramsaUltimate;persist security info=True;user id=sa;password=1nT3GrAmSA1199;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /> -->




  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <machineKey validationKey="B8F14CD12CE8C65953FA2A0493E783EABB5948F266C255E53B47F8A838EF8AD52CA9D3448568E78FAB76180E803FE89B90B2DEAC7C96BEAE75491E816004D821" decryptionKey="EE832FE1B944BFA92BAE4969D91D27D521321C149FBDA748C20B9CCA5B7238A3" validation="SHA1" decryption="AES" />
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
    </httpHandlers>
    <sessionState mode="InProc" timeout="30" />
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </buildProviders>
      <assemblies>
        <add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.5631.0" newVersion="2.5.5631.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>