
@{
    ViewBag.Title = "Report";
    Layout = null;
}


<div class="row">
    <div class="col-md-12">
        <iframe style="width:100%; height:60vh;" src=@ViewData["path"] ></iframe>
    </div>
</div>