@model IntegramsaUltimate.Models.ViewModels.NotFound 
@{
    ViewBag.Title = "Status404";
    Layout = null;
}

<div class="row">
    <div class="col-md-5 col-md-offset-4">
        <h4 style="padding-top:25px" class="text-center">Estatus</h4>
        <div class="bloque text-center" style="padding-top:15px; margin-top:10px; background-color:#eee; border-color: #ff3b1f; font-size:large">
            <h1>404</h1>
            <br />
            <h3>@Html.DisplayFor(d => d.Mensaje)</h3>
        </div>
    </div>
</div>

