@using IntegramsaUltimate.Models.FilterViewModel
@model ReporteAsistenciaCoberturaViewModel
@{
    Layout = null;
 
}

<div class="row">

    <div class="col-md-12">
        @(Html.Kendo().Grid<IntegramsaUltimate.Models.TableViewModels.TableReporteTiempoEfectivoMuertoViewModel>()
                    .Name("tabla")

                     .Columns(c =>
                        {
                            c.Bound(p => p.Nombre).Title("Nombre");
                            c.Bound(p => p.tiempoEfectivo).Title("Tiempo efectivo");
                            c.Bound(p => p.tiempoMuerto).Title("Tiempo traslado");
                            c.Bound(p => p.efectivo).Title("% Efectivo");
                        })
                        .ToolBar(tools => tools.Excel())
                        .Pageable()
                        .Sortable()
                        .Filterable()

                        .Excel(excel => excel
                            .FileName("reporte.xlsx")
                            .AllPages(true)
                                     .ProxyURL(Url.Action("JsonGrid", "ReporteTiempoEfectivoMuerto", new { idPromotor = Model.idPromotor, ano = Model.ano, numSemana = Model.numSemana }))
                         )
                        .Resizable(resize => resize.Columns(true))
                        .DataSource(d => d.Ajax()
                            .Sort(sort => sort.Add("Nombre").Descending())
                                           .Read(r => r.Action("JsonGrid", "ReporteTiempoEfectivoMuerto", new { idPromotor = Model.idPromotor, ano = Model.ano, numSemana = Model.numSemana }))
                        )

        )
    </div>
</div>


