@using IntegramsaUltimate.Models.FilterViewModel
@model ReporteEfectividadNewFilterViewModel

<script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
<script src="~/Scripts/IntegramsaScript/ReporteEfectividad/ReporteEfectividadScript.js"></script>
<script src="~/Scripts/Utils/HttpAjaxServicesScript.js"></script>
<!--Report styles-->
<link href="~/Content/IntegransaStyles/ReporteEfectividad/reporte-efectividad-listado-styles.css" rel="stylesheet" />


<!--ACtion Buttons-->
<div id="buttons" style="padding-bottom: 1%;">
    <button type="button" onclick="tableToExcel('tableInfo', 'Reporte Efectivdad')" class="btn btn-primary buttonE">EXCEL</button>
    <button type="button" class="btn btn-primary buttonE" onclick="expandAll()">EXPANDIR</button>
    <button type="button" class="btn btn-primary buttonE" onclick="collapseAll()">COLAPSAR</button>
</div>

<!--Div for the actual report-->
<div id="divTbl">
</div>

<!--Actual Functionality-->


<div class="loader-center" id="loading">
    <div class="loader-list">
        <div class="loader" id="loader">Loading...</div>
        <div class="one loader-bottom"></div>
    </div>
</div>

<script>

    //Stick header to top
    $(document).ready(function (e) {
        //myTime = setInterval(loading, 200);
        var myModel = @Html.Raw(Json.Encode(Model));
        var url = '@Url.Content("~/ReporteEfectividadNew/ListadoPrueba")';

        //Ontiene los datos del servidor
        getReporteEfectividad(url,myModel)


        window.onscroll = function () { stickHeader() };

        function stickHeader() {
            var header = document.getElementById("mainHeading");
            var subheader = document.getElementById("mainSubHeading");
            var sticky = header.offsetTop;

            if (window.pageYOffset >= 300) {
                header.classList.add("sticky");
                subheader.classList.add("stickySub");
            } else {
                header.classList.remove("sticky");
                subheader.classList.remove("stickySub");
            }
        }
      
    });

</script>
